h1 {
    font-family: 'Fugaz One', cursive;
}

h2 {
    font-family: 'Fugaz One', cursive;
}

.nav-link {
    font-family: 'Fugaz One', cursive;
}

.fugaz-one {
    font-family: 'Fugaz One', cursive;
}

p{
    font-family: 'Montauk-Light';
    font-size: 1.25rem;
}

.font-down{
    font-size: large;
}

.font-up{
    font-size: xx-large;
}

.font-up-{
    font-size: xx-large;
}

.line-spaceing{
    line-height: 1.3rem;
}

@font-face { 
    font-family: Montauk-Light; 
    src: url('../Font/Montauk-Light.otf');
 }

@media (max-width: 1199px){
    .font-up-{
        font-size: x-large;
    }
}